/* top.html/main.html共通スタイル */
#top {
    background-image: url(img/who-am-i.jpeg);
    background-size: cover;
    padding: 150px;
}

header {
    border-top: 10px solid #511717;
    border-bottom: 10px solid #511717;
}

header h1 {
    text-align: center;
}

header nav ul {
    list-style: none;
    width: 940px;
    padding-left: 0;
    margin: 0 auto 0 auto;
    position: relative;
}

header nav ul li {
    width: 150px;
    float: left;
    margin-bottom: 20px;
    padding-right: 40px;
    text-align: center;
}
header nav ul li:last-child {
    margin-right: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

header nav ul li a{
    text-decoration: none;
    background-color: #511717;
    color: white;
    padding: 10px 0;
    display: block;
}

/* カーソル移動クリックのスタイル適応 */
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a {
    background-color: black;
}


body {
    background-color: burlywood;
}

/* main.htmlｍのスタイル */
top-wapper h1 {
    text-align: center;
}

top-wapper h3 {
    font-size: 20px;
}

.text{
    border-bottom-width: 5px;
    border-bottom-style: dashed;
    border-bottom-color: #511717;
    padding-bottom: 10px;
}

/* top.htmlのスタイル */
section img {
    margin: 20px 0 0 30px;
    height: 350px;
    width: 600px;
}
.contens {
    position: relative;
}

.contens ul li {
    list-style: none;
}
